.child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 90px;
    width: 140px;
    padding: 5px;
    border: solid black 2px;
    border-radius: 6px;
    opacity: 0;
    background: rgb(78, 77, 77);
    gap: 1px;
}